/* .app-imgai-js-img{
  margin-top: 10px;
} */
.c{

    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.relative {
  position: relative;
  width: 500px;
  height: auto;
  border:   2px   outset #ffff4d;
  visibility: 0.1;
  /* box-shadow: 5px 10px #888888; */

} 

.boundingbox{

    position: absolute; 
    box-shadow:  0 0 0 2px #ffff4d inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
       
  }